/* Custom CSS */
.container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto; 
}

/* @media (min-width: 576px) {
    .container {
    max-width: 540px; } 
}

@media (min-width: 768px) {
    .container {
    max-width: 720px; } 
}

@media (min-width: 992px) {
    .container {
    max-width: 960px; } 
} */

@media (min-width: 1200px) {
    .container {
    max-width: 1440px; } 
}

@media (min-width: 992px){
    section {
        padding: 10.5rem 0;
    }
}